<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<application>
    <Configuration>
        <!--  UDP порт для маяка-->
        <PORT_UDP>9600</PORT_UDP>

        <!-- Использовать Proxy сервер (true/false) -->
        <PROXY_ACTIVATE>false</PROXY_ACTIVATE>

        <!-- IP адресс Proxy сервера -->
        <PROXY_IP>10.3.0.3</PROXY_IP>

        <!-- Номер порта Proxy сервера -->
        <PROXY_PORT>3128</PROXY_PORT>

        <!-- Логин Proxy сервера -->
        <PROXY_USERNAME>android</PROXY_USERNAME>

        <!-- Пароль Proxy сервера -->
        <PROXY_PASSWORD>Android2014</PROXY_PASSWORD>

    </Configuration>
</application>